.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.title{
    font-size: 3rem;
    color:white;
    font-weight: 500;
    padding: 10px;

}

.questions_container{
    border-radius: 20px;
    background-color: white;
    border: 1px solid darkgrey;
}

.quizInfo{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 100%;
    color:white
}