.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.quizContainer{
    width: 95%;
}

.title{
    font-size: 3rem;
    color:white;
    font-weight: 500;
    padding: 10px;

}

.quizInfo{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
    color:white;
    text-transform: uppercase;
}

.resultButton{
    color: white !important;
}