.title{
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
    font-size: 4rem;
    width: 50%;
}

.forms{
    width: 30%;
}

.container{
    display: flex;
    justify-content: space-around;
    padding-top:40px;
}

@media(max-width:791px){
    .container{
        flex-direction: column-reverse;
        align-items: center;
    }
    .forms{
        width: 100%;
        padding: 0;
    }
    .title{
        width: 85%;
        font-size: 2rem;
        letter-spacing: 0px;
    }
}